<ion-header>
  <ion-button fill="clear" class="back-button" (click)="goBack()">
    <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
  </ion-button>
</ion-header>
<ion-content>
  <div class="reset-password-container ion-padding">
    <h1>Recuperar Contraseña</h1>
    <p>Introduce tu correo para recibir un enlace de recuperación.</p>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <div *ngIf="resetPasswordForm.get('email')?.invalid && (resetPasswordForm.get('email')?.dirty || resetPasswordForm.get('email')?.touched)">
        <p class="error-message" *ngIf="resetPasswordForm.get('email')?.errors?.['required']">El correo es obligatorio.</p>
        <p class="error-message" *ngIf="resetPasswordForm.get('email')?.errors?.['email']">Introduce un correo válido.</p>
      </div>

      <ion-button type="submit" expand="block" [disabled]="isLoading">Enviar</ion-button>
    </form>
  </div>
</ion-content>
