<ion-header>
  <ion-toolbar>
    <ion-title>Carrito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let pizza of pizzas">
      <ion-thumbnail slot="start">
        <img [src]="getPizzaImage(pizza.name)" alt="{{ pizza.name }}">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ pizza.name }}</h2>
        <p>{{ pizza.description }}</p>
        <p>Precio: ${{ pizza.price }}</p>
        <p>Cantidad: 
          <ion-button (click)="updateQuantity(pizza, -1)" [disabled]="pizza.quantity <= 1">-</ion-button>
          {{ pizza.quantity }}
          <ion-button (click)="updateQuantity(pizza, 1)">+</ion-button>
        </p>
      </ion-label>
      <ion-button slot="end" (click)="removePizza(pizza)">Eliminar</ion-button>
    </ion-item>
  </ion-list>

  <ion-footer>
    <ion-toolbar>
      <ion-title>Total: ${{ getTotal() }}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="proceedToCheckout()">Pagar</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ion-content>