ion-content {
  --background: hsl(135, 73%, 53%);
  position: relative;
  padding-top: 10%;
}

.brand-text {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
  color: red;
  font-weight: bold;
  text-align: center;
  z-index: 1;
  width: 100%;
  padding: 0 15px;
}

.login-section {
  position: relative;
  top: 10%;
  height: auto;
  width: 90%;
  max-width: 800px;
  background: #fff;
  margin: 20px auto;
  border-radius: 46px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.heading {
  margin-top: 20px;
}

.heading h1 {
  font-size: 1.6rem;
  font-weight: bolder;
  color: #000;
  text-align: center;
}

.heading p {
  margin-top: 26px;
  font-size: 1rem;
  color: #7b7b7b;
  text-align: center;
}

.login-form {
  margin-top: 20px;
}

.form-input {
  position: relative;
  margin-bottom: 15px;
}

ion-item {
  --background: #fff;
  --color: #000;
  margin-bottom: 10px;
  position: relative;
  padding-left: 50px;
}

ion-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  left: 10px;
  color: #000;
  z-index: 2;
}

ion-label {
  font-weight: bolder;
  font-size: 0.8rem;
  color: #000;
}

ion-input {
  font-size: 0.9rem;
  --padding-start: 50px;
  --padding-top: 10px;
  color: #000;
}

.action-buttons {
  text-align: center;
  margin-top: 20px;
}

.login-button,
.signup-button {
  width: 100%;
  font-weight: bold;
  margin-top: 10px;
}

.login-button {
  --background: #f90101;
  color: #fff;
  --border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.login-button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  --background: #d80000;
}

.login-button:active {
  transform: scale(1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.invited-button {
  width: 100%;
  font-weight: bold;
  color: #fff;
}

p {
  margin-top: 15px;
  color: #7b7b7b;
}

.signup-button {
  --border-color: #b4b4b4;
  --color: #000;
  margin-top: 30px;
}

.error-message {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

@media (max-width: 768px) {
  .brand-text {
    font-size: 6vw;
    top: 15%;
  }

  .login-section {
    width: 95%;
    margin: 10px auto;
  }

  .heading h1 {
    font-size: 1.3rem;
  }

  .heading p {
    font-size: 0.9rem;
  }

  ion-icon {
    font-size: 1rem;
  }

  ion-label {
    font-size: 0.8rem;
  }

  ion-input {
    font-size: 0.8rem;
  }

  .login-button,
  .invited-button,
  .signup-button {
    font-size: 0.9rem;
  }
}

@media (max-width: 375px) {
  .brand-text {
    font-size: 5vw;
    top: 20%;
  }

  .login-section {
    width: 95%;
    padding: 15px;
  }

  .heading h1 {
    font-size: 1.2rem;
  }

  .heading p {
    font-size: 0.8rem;
  }

  ion-icon {
    font-size: 0.9rem;
  }

  ion-label {
    font-size: 0.7rem;
  }

  ion-input {
    font-size: 0.7rem;
  }

  .login-button,
  .invited-button,
  .signup-button {
    font-size: 0.8rem;
  }
}
