<ion-content>
  <ion-header>
    <ion-toolbar> 
      <ion-buttons slot="start">
        <ion-button (click)="openLocationModal()">
          <ion-icon name="location-outline" style="color: green;"></ion-icon> 
          <span class="location-text">{{ selectedAddress }}</span> 
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="openCartModal()">
          <ion-icon name="cart-outline"></ion-icon> 
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-toolbar>
    <ion-segment (ionChange)="onSegmentChange($event)">
      <ion-segment-button value="pizzas">
        Pizzas
      </ion-segment-button>
      <ion-segment-button value="bebidas">
        Bebidas
      </ion-segment-button>
      <ion-segment-button value="acompanamientos">
        Acompañamientos
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card button color="warning" class="hover-zoom">
          <ion-card-content class="ion-text-center">
            <ion-img src="assets/img-6.jpg"></ion-img>
            <h2>Pizza Margarita</h2>
            <p>$12.000</p>
            <ion-icon name="cart-outline" color="success" style="font-size: 24px;" (click)="addToCart('Pizza Margarita', 12000, 'assets/img-6.jpg')"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
  
      <ion-col size="6">
        <ion-card button color="warning" class="hover-zoom">
          <ion-card-content class="ion-text-center">
            <ion-img src="assets/img-3.jpg"></ion-img>
            <h2>Pizza Pepperoni</h2>
            <p>$14.000</p>
            <ion-icon name="cart-outline" color="success" style="font-size: 24px;" (click)="addToCart('Pizza Pepperoni', 14000, 'assets/img-3.jpg')"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col size="6">
        <ion-card button color="warning" class="hover-zoom">
          <ion-card-content class="ion-text-center">
            <ion-img src="assets/img-4.jpg"></ion-img>
            <h2>Pizza BBQ</h2>
            <p>$16.000</p>
            <ion-icon name="cart-outline" color="success" style="font-size: 24px;" (click)="addToCart('Pizza BBQ', 16000, 'assets/img-4.jpg')"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
  
      <ion-col size="6">
        <ion-card button color="warning" class="hover-zoom">
          <ion-card-content class="ion-text-center">
            <ion-img src="assets/img-5.jpg"></ion-img>
            <h2>Pizza 4 Quesos</h2>
            <p>$15.000</p>
            <ion-icon name="cart-outline" color="success" style="font-size: 24px;" (click)="addToCart('Pizza 4 Quesos', 15000, 'assets/img-5.jpg')"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col size="6">
        <ion-card button color="warning" class="hover-zoom">
          <ion-card-content class="ion-text-center">
            <ion-img src="assets/pizza-hawaiana.jpg"></ion-img>
            <h2>Pizza Hawaiana</h2>
            <p>$13.000</p>
            <ion-icon name="cart-outline" color="success" style="font-size: 24px;" (click)="addToCart('Pizza Hawaiana', 13000, 'assets/pizza-hawaiana.jpg')"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
  
      <ion-col size="6">
        <ion-card button color="warning" class="hover-zoom">
          <ion-card-content class="ion-text-center">
            <ion-img src="assets/pizza-salmon-ahumado.jpg"></ion-img>
            <h2>Pizza Salmón Ahumado</h2>
            <p>$18.000</p>
            <ion-icon name="cart-outline" color="success" style="font-size: 24px;" (click)="addToCart('Pizza Salmón Ahumado', 18000, 'assets/pizza-salmon-ahumado.jpg')"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col size="6">
        <ion-card button color="warning" class="hover-zoom">
          <ion-card-content class="ion-text-center">
            <ion-img src="assets/img/pizza canadian bacon.jpg"></ion-img>
            <h2>Pizza Canadian Bacon</h2>
            <p>$13.000</p>
            <ion-icon name="cart-outline" color="success" style="font-size: 24px;" (click)="addToCart('Pizza Canadian Bacon', 13000, 'assets/img/pizza canadian bacon.jpg')"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
  
      <ion-col size="6">
        <ion-card button color="warning" class="hover-zoom">
          <ion-card-content class="ion-text-center">
            <ion-img src="assets/img/marinara.jpg"></ion-img>
            <h2>Pizza Salsa Marinara</h2>
            <p>$18.000</p>
            <ion-icon name="cart-outline" color="success" style="font-size: 24px;" (click)="addToCart('Pizza Salsa Marinara', 18000, 'assets/img/marinara.jpg')"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card button color="warning" class="hover-zoom" >
          <ion-card-content class="ion-text-center">
            <ion-img src="assets/img/marinara.jpg"></ion-img>
            <h2>Pizza Salsa Marinara</h2>
            <p>$18.000</p>
            <ion-icon name="cart-outline" color="success" style="font-size: 24px;" (click)="addToCart('Pizza Salsa Marinara', 18000, 'assets/img/marinara.jpg')"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home" [routerLink]="['/menu']">
        <ion-icon name="pizza"></ion-icon>
        Menu
      </ion-tab-button>
      <ion-tab-button tab="cart">
        <ion-icon name="cart-outline"></ion-icon>
        Carrito
      </ion-tab-button>
      <ion-tab-button tab="receipt">
        <ion-icon name="receipt-outline"></ion-icon>
        pedidos
      </ion-tab-button>
      <ion-tab-button tab="profile" [routerLink]="['/profile']">
        <ion-icon name="person-outline"></ion-icon>
        Perfil
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  
</ion-content>

