/* Estilo global para el ion-content */
ion-content {
    --background: #fff; /* Fondo blanco para el contenido */
  }
  
  /* Estilo para la barra de pestañas */
  ion-tab-bar {
    --background: #fff; /* Fondo blanco para la barra de pestañas */
    --color: #000; /* Color de texto negro para los botones */
    --color-selected: #f90101; /* Color de texto seleccionado (puedes cambiarlo según el diseño) */
    --border-color: #ccc; /* Color del borde (si se aplica) */
  }
  
  /* Estilo para los botones de la barra de pestañas */
  ion-tab-button {
    --background: #fff; /* Fondo blanco para los botones de la barra de pestañas */
    --color: #000; /* Color de texto negro para los botones */
  }
  
  /* Estilo para los íconos dentro de los botones */
  ion-icon {
    color: #000; /* Color de los íconos (puedes ajustar el color según tu diseño) */
  }

  ion-card {
    max-width: 300px; /* Ajusta el ancho máximo de la tarjeta */
  }
  
  ion-img {
    width: 100%; /* Asegura que la imagen se ajuste al ancho de la tarjeta */
    height: auto; /* Mantiene la proporción original de la imagen */
    border-radius: 8px; /* Opcional: redondea las esquinas de la imagen */
    margin-bottom: 10px; /* Espacio entre la imagen y el contenido de la tarjeta */
  }
  