<ion-content>
  <ion-toolbar>
    <ion-segment (ionChange)="onSegmentChange($event)">
      <ion-segment-button value="pizzas">
        Pizzas
      </ion-segment-button>
      <ion-segment-button value="bebidas">
        Bebidas
      </ion-segment-button>
      <ion-segment-button value="acompanamientos">
        Acompañamientos
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  
  
  

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="pizza"></ion-icon>
        Menu
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/cart']">
        <ion-icon name="cart-outline"></ion-icon>
        Carrito
      </ion-tab-button>
      <ion-tab-button tab="receipt">
        <ion-icon name="receipt-outline"></ion-icon>
        pedidos
      </ion-tab-button>
      <ion-tab-button tab="profile" [routerLink]="['/login']">
        <ion-icon name="person-outline"></ion-icon>
        Perfil
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>