<ion-header>
  <ion-toolbar>
    <ion-title>Carrito de Compras</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeCart()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="cart.length > 0; else emptyCart">
    <ion-list>
      <ion-item *ngFor="let product of cart; let i = index">
        <ion-thumbnail slot="start">
          <ion-img [src]="product.image"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <h2>{{ product.name }}</h2>
          <p>{{ product.price | currency }}</p>
        </ion-label>
        <ion-button color="danger" (click)="removeFromCart(i)">
          Eliminar
        </ion-button>
      </ion-item>
    </ion-list>
    <ion-footer>
      <ion-toolbar>
        <ion-title>Total: {{ getTotal() | currency }}</ion-title>
        <ion-button expand="block" color="success">Finalizar compra</ion-button>
      </ion-toolbar>
    </ion-footer>
  </div>

  <!-- Mensaje de carrito vacío -->
  <ng-template #emptyCart>
    <div class="empty-cart">
      <ion-icon name="cart-outline" size="large"></ion-icon>
      <p>El carrito está vacío</p>
    </div>
  </ng-template>
</ion-content>