<ion-content>
  <ion-toolbar>
    <ion-segment (ionChange)="onSegmentChange($event)">
      <ion-segment-button value="pizzas">
        Pizzas
      </ion-segment-button>
      <ion-segment-button value="bebidas">
        Bebidas
      </ion-segment-button>
      <ion-segment-button value="acompanamientos">
        Acompañamientos
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
<ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card button color="warning">
          <ion-card-content class="ion-text-center">
            <ion-img src="assets/img/bebidas/coca cola.jpg"></ion-img>
            <h2>Coca-Cola</h2>
            <p>$1.990</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card button color="warning">
          <ion-card-content class="ion-text-center">
            <ion-img src="assets/img/bebidas/coca-cola zero1.png"></ion-img>
            <h2>Coca-Cola Zero</h2>
            <p>$1.990</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="6">
        <ion-card button color="warning">
          <ion-card-content class="ion-text-center">
            <ion-img src="assets/img/bebidas/Cocalight.jpg"></ion-img>
            <h2>Coca-light</h2>
            <p>$1.990</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card button color="warning">
          <ion-card-content class="ion-text-center">
            <ion-img src="assets/img/bebidas/fanta1.jpg"></ion-img>
            <h2>Fanta</h2>
            <p>$1.990</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="6">
        <ion-card button color="warning">
          <ion-card-content class="ion-text-center">
            <ion-img src="assets/img/bebidas/sprite.jpg"></ion-img>
            <h2>Sprite</h2>
            <p>$1.990</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card button color="warning">
          <ion-card-content class="ion-text-center">
            <ion-img src="assets/img/bebidas/sprite-zero.jpg"></ion-img>
            <h2>Sprite-zero</h2>
            <p>$1.990</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="pizza"></ion-icon>
        Menu
      </ion-tab-button>
      <ion-tab-button tab="cart">
        <ion-icon name="cart-outline"></ion-icon>
        Carrito
      </ion-tab-button>
      <ion-tab-button tab="receipt">
        <ion-icon name="receipt-outline"></ion-icon>
        pedidos
      </ion-tab-button>
      <ion-tab-button tab="profile" [routerLink]="['/login']">
        <ion-icon name="person-outline"></ion-icon>
        Perfil
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>